* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
}

#app {
    display: grid;
    grid-template-columns: 260px 1fr;
    min-height: 100vh;
}

#sidebar {
    background: #202020;
    color: white;
    padding: 20px;
}

#main-content {
    background: white;
    padding: 30px;
}