* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #eceff3;
}

#app {
    display: grid;
    grid-template-columns: 280px 1fr;
    min-height: 100vh;
}

#sidebar {
    background: #1f2937;
    color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#main-content {
    background: #f9fafb;
    padding: 40px;
}

#sidebar h1 {
    margin-bottom: 40px;
    font-size: 2rem;
}

#sidebar h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #ccc;
}

#sidebar ul {
  list-style: none;
}

#sidebar li {
  padding: 14px;
  border-radius: 8px;
  margin-bottom: 8px;
  transition: .2s;
  cursor: pointer;
}

#sidebar li:hover {
   background: rgba(255,255,255,.08);
}

#main-content h1 {
  margin-bottom: 2rem;
}

.todo-card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,.08);
    border-left: 6px solid #3b82f6;
}

.todo-card:hover {
    transform: translateY(-2px);
    transition: .2s;
}

.active-project {
    background: #3b82f6;
    font-weight: bold;
}

#sidebar button {
    margin-bottom: 30px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #3b82f6;
    color: white;
    font-size: .95rem;
}

#sidebar button:hover {
    background: #2563eb;

}

.high {
    border-left-color: #ef4444;
}

.medium {
    border-left-color: #f59e0b;
}

.low {
    border-left-color: #22c55e;
}


.todo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.todo-header button {
    border: none;
    background: #3b82f6;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
}

.todo-header button:hover {
    background: #2563eb;
}

dialog {
    border: none;
    border-radius: 12px;
    padding: 24px;
    width: 350px;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
}

dialog::backdrop {
    background: rgba(0,0,0,.45);
}

dialog input {
    width: 100%;
    padding: 12px;
    margin: 20px 0;
}

dialog menu {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 0;

}

dialog button {
    padding: 10px 18px;

}