* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
}

#app {
    display: grid;
    grid-template-columns: 260px 1fr;
    min-height: 100vh;
}

#sidebar {
    background: #202020;
    color: white;
    padding: 20px;
}

#main-content {
    background: white;
    padding: 30px;
}

#sidebar h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #ccc;
}

#sidebar ul {
  list-style: none;
}

#sidebar li {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

#sidebar li:hover {
  background: #303030;
}

#main-content h1 {
  margin-bottom: 2rem;
}

.todo-card {
  border: 1px solid #ddd;
  border-left: 6px solid #3498db;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  background: #fafafa;
}